.create-footer{
    padding-top: 41px;
    padding-bottom: 105px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #CCCCCC;
    align-items: center;
    p{
        font-size: 11px;
        line-height: 12px;
        color: #41413F;
    }
}    